.like-container {
  position: relative;
  cursor: pointer;

    &:hover {
      .card__like--filled {
        opacity: 1;
      }
      .card__like--empty {
        opacity: 0;
      }
    }
    
  &--inv {
    .card__like {
      opacity: 0;
    }
    .card__like--filled {
      opacity: 1;
    }
  
    &:hover {
      .card__like--filled {
        opacity: 0;
      }
      .card__like--empty {
        opacity: 1;
      }
    }
  }    
}

.card__like {
  font-size: 26px;
  transition: opacity 250ms;

    &--filled {
      position: absolute;
      background: linear-gradient(176deg, #9356DC 0%, #FF79DA 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
    }
}
