* {
  font-family: "Roboto", "sans-serif";
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  width: 100%;
  min-width: 320px;
  padding: 0;
  box-sizing: border-box;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
.header-main__logo {
  width: 162px;
}
.header-main__back {
  font-size: 24px;
  position: absolute;
  left: 20px;
}

.header-location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.header-location__city {
  margin-left: 20px;
  font-weight: 500;
}
.header-location__icon {
  font-size: 16px;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 760px) {
  footer {
    height: 100px;
    flex-direction: row-reverse;
    align-items: flex-end;
  }
}

.footer__logo {
  font-family: Shrikhand;
  color: white;
}
@media screen and (min-width: 760px) {
  .footer__logo {
    margin: 0 50px;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 7px;
}
@media screen and (min-width: 760px) {
  .footer-list {
    flex-direction: row;
  }
}
.footer-list__link {
  font-size: 0.9em;
  font-weight: 500;
}
.footer-list__link--thin {
  font-weight: 400;
}
.footer-list__icon {
  color: #FFFFFF;
  font-size: 12px;
  margin-right: 8px;
}
@media screen and (min-width: 760px) {
  .footer-list > .footer-list__link--gap {
    margin-left: 20px;
  }
}

.btn {
  background: linear-gradient(#FF79DA, #9356DC);
  width: 218px;
  color: #FFFFFF;
  padding: 15px 0;
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition: opacity 0.5s, box-shadow 0.5s;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.2);
}

.like-container {
  position: relative;
}
.like-container:hover .card__like--filled {
  opacity: 1;
}
.like-container:hover .card__like--empty {
  opacity: 0;
}

.card__like {
  font-size: 24px;
  transition: opacity 250ms;
}
.card__like--filled {
  position: absolute;
  background: linear-gradient(176deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}

.intro {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 35px 0 50px 0;
}
.intro__title {
  margin: 0 60px;
}
@media screen and (min-width: 760px) {
  .intro__title {
    font-size: 2em;
  }
}
.intro__content {
  font-weight: 300;
  margin: 16px;
}
.intro__button {
  margin-top: 14px;
}

.section__title {
  margin: 0 0 0 20px;
}

.instructions {
  padding: 50px 0;
}
.instructions__container {
  max-width: 1080px;
  margin: auto;
}
.instructions__grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 40px;
}
@media screen and (min-width: 760px) {
  .instructions__grid {
    flex-direction: row;
  }
}
@media screen and (min-width: 760px) {
  .instructions__grid {
    justify-content: center;
    gap: 30px;
  }
}

.instructions__step {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 500;
  height: 72px;
  border-radius: 20px;
  padding-right: 10px;
  background-color: #F6F6F6;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.instructions__step__icon {
  color: #7E7E7E;
  font-size: 20px;
  width: 20px;
  margin-left: 34px;
  margin-right: 26px;
}
.instructions__step__order {
  position: absolute;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  border-radius: 20px;
  left: -11px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
}
@media screen and (min-width: 760px) {
  .instructions__step {
    flex-grow: 1;
  }
}

.instructions__step > .instructions__step__icon--coloured {
  color: #9356DC;
}

.restaurants-list {
  background-color: #F6F6F6;
  padding: 50px 0;
}
.restaurants-list__container {
  max-width: 1080px;
  margin: auto;
}
.restaurants-list__grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px 20px;
}
@media screen and (min-width: 760px) {
  .restaurants-list__grid {
    flex-direction: row;
  }
}
@media screen and (min-width: 760px) {
  .restaurants-list__grid {
    flex-wrap: wrap;
    column-gap: 84px;
    row-gap: 50px;
  }
  .restaurants-list__grid > .card {
    flex: 1 1 40%;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 251px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.card__picture {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  height: 70%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card__picture--center {
  object-position: 50% 60%;
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  margin-left: 12px;
  margin-right: 18px;
}
.card__title, .card__text {
  margin: 0;
}
.card__text {
  font-weight: 300;
}

.new-alert {
  width: 74px;
  height: 29px;
  text-align: center;
  line-height: 29px;
  position: absolute;
  right: 12px;
  top: 14px;
  border-radius: 2px;
  background-color: #99E2D0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  color: #278870;
  font-weight: 500;
  font-size: 0.8em;
}

.restaurant-image {
  width: 100%;
  position: relative;
  z-index: -1;
}

.restaurant {
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 0 20px;
  margin-top: -50px;
}
.restaurant__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurant__title__name {
  font-family: Shrikhand;
}

.restaurant-menu__title {
  font-weight: 300;
  font-size: 1.2em;
  margin: 0;
}
.restaurant-menu__line {
  width: 40px;
  border: 2px solid #99E2D0;
  margin-top: 4px;
}

/*# sourceMappingURL=style.css.map */
