.intro {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 35px 0 50px 0;
  
    &__title {
      margin: 0 60px;
    }

    &__content {
      font-weight: 300;
      margin: 16px;
    }
    
    &__button {
      margin-top: 14px;
    }
}

.instructions {
  padding: 50px 0;

    &__title {
      margin: 0 0 30px 20px;
    }

    &__grid {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
}

.instructions__step {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-right: 20px;
  margin-left: 40px;
  height: 72px;
  border-radius: 20px;
  box-shadow: 0 4px 15px 0 rgba(0,0,0,0.15);

    &__icon {
      color: #7E7E7E;
      font-size: 20px;
      width: 20px;
      margin-left: 34px;
      margin-right: 26px;
    }

    &__order {
      position: absolute;
      background-color: #9356DC;
      height: 24px;
      width: 24px;
      border-radius: 20px;
      left: 29px;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.9em;
    }
}

.instructions__step > .instructions__step__icon--coloured {
  color: $main-color;
}
