.intro {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 35px 0 50px 0;
  
  
    &__title {
      margin: 0 60px;

      @media screen and (min-width:$breakpoint) {
        font-size: 2em;
      }
    }

    &__content {
      font-weight: 300;
      margin: 16px;
    }
    
    &__button {
      margin-top: 14px;
    }
}

.section__title {
  margin: 0 0 0 20px;
}

.instructions {
  padding: 50px 0;

    &__container {
      max-width: $maxwidth;
      margin: auto;
    }

    &__grid {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 30px;
      margin-right: 20px;
      margin-left: 40px;
      @include mediaq;
      
      @media screen and (min-width:$breakpoint) {
        justify-content: center;
        gap: 30px;
      }
      
    }
}

.instructions__step {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 500;
  height: 72px;
  border-radius: 20px;
  padding-right: 10px;
  background-color: #F6F6F6; 
  @include box-shadow(0.15);

    &__icon {
      color: #7E7E7E;
      font-size: 20px;
      width: 20px;
      margin-left: 34px;
      margin-right: 26px;
    }

    &__order {
      position: absolute;
      background-color: #9356DC;
      height: 24px;
      width: 24px;
      border-radius: 20px;
      left: -11px;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.9em;
    }
  @media screen and (min-width:$breakpoint) {
   flex-grow: 1;
  }
}

.instructions__step > .instructions__step__icon--coloured {
  color: $main-color;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 50px 0;
  
    &__container {
      max-width: $maxwidth;
      margin: auto;
    }

    &__grid {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: 30px 20px;
      @include mediaq;
      @media screen and (min-width:$breakpoint) {
        flex-wrap: wrap;
        column-gap: 84px;
        row-gap: 50px;

        & > .card {
          flex: 1 1 40%;
        }
      }
    }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 251px;
  @include box-shadow(0.1);
  border-radius: 15px;

    &__picture {
      width: 100%;
      object-fit:cover;
      object-position: bottom ;
      height: 70%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    
      &--center {
        object-position: 50% 60%;
      }
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30%;
      margin-left: 12px;
      margin-right: 18px;
    }

    &__title, &__text {
      margin: 0;
    }
    
    &__text {
      font-weight: 300;
    }

}

.new-alert {
  width: 74px;
  height: 29px;
  text-align: center;
  line-height: 29px;
  position: absolute;
  right: 12px;
  top: 14px;
  border-radius: 2px;
  background-color: $third-color;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
  color: darken($third-color, 40%);
  font-weight: 500;
  font-size: 0.8em;
}